<div id="top-apps">
  <ul class="thumbnails">
  <% @apps.each_with_index do |app, index| %>
  <div class="app-card">
    <li class="span2">
      <%= link_to image_tag(app.artwork_url_60, size: "200x200", class: "artwork-100"), app, class: "thumbnail radius-40" %>
      <%= link_to app.track_name, app %><br>
      <%= link_to 'By: ' + app.seller_name.to_s, '/seller/' + app.artist_id.to_s %><br>
  
      <% if app.free? %>
        <span class="label label-success"><%= app.formatted_price %></span>
      <% else %>
        <span class="label label-inverse"><%= app.formatted_price%></span>
      <% end %>
    </li>
  </div>
  <% end %>
  </ul>
  
  <div class="pagination pagination-large pagination-centered">
    <%= will_paginate(@apps) %>
  </div>

</div>
