<div id="top-apps">
  <ul class="thumbnails">
  <% @apps.each_with_index do |app, index| %>
  <div class="app-card">
    <li class="span2">
      <%= link_to image_tag(app.artwork_url_100, size: "100x100", class: "artwork-100"), app, class: "thumbnail radius-100" %>
      <% if params[:type].present? && (params[:type] == "free" || params[:type] == "paid") %>
      <% if !app.rank_history[@time].nil? && app.rank.to_i < app.rank_history[@time].to_i %>
          <i class="icon-chevron-up"></i>
        <% elsif !app.rank_history[@time].nil? && app.rank.to_i > app.rank_history[@time].to_i %>
          <i class="icon-chevron-down"></i>
        <% else %>
          <i class="icon-minus"></i>
        <% end %>
      <% end %>
      <%= link_to app.track_name, app %><br>
      <%= link_to 'By: ' + app.seller_name.to_s, '/seller/' + app.artist_id.to_s %><br>
  
      <% if app.free? %>
        <span class="label label-success"><%= app.formatted_price %></span>
      <% else %>
        <span class="label label-inverse"><%= app.formatted_price%></span>
      <% end %>
    </li>
  </div>
  <% end %>
  </ul>
  
  <div class="pagination pagination-large pagination-centered">
    <%= will_paginate(@apps) %>
  </div>

</div>
